.currency-select {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  max-width: 6em;
}
.currency-select::-webkit-scrollbar {
  width: 6px;
}
.currency-select::-webkit-scrollbar-track {
  background: transparent;
}
.currency-select::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.currency-select-option {
  background-color: var(--select-item-background-color);
}
.currency-select-rate-label {
  font-size: small;
  background-color: var(--input-field-background-color);
  color: var(--text-color);
  border-color: var(--input-field-border-color);
  border-left: 0;
}
@media (min-width: 1200px) and (max-width: 1420px) {
  .hide-on-smaller-screens {
    display: none;
  }
}
