<div style="display: flex;flex-direction: row;justify-content: space-between;">
  <h5>{{snippetService.getSnippet('top-accounts-component.title')}}</h5>
</div>
<table class="table table-dark dark-theme">
  <thead>
  <tr>
    <th scope="col">{{snippetService.getSnippet('top-accounts-component.headers.address')}}</th>
    <th scope="col">
      <span ngbTooltip="{{snippetService.getSnippet('top-accounts-component.headers.pending.tooltip')}}">
        {{snippetService.getSnippet('top-accounts-component.headers.pending')}}
      </span>
    </th>
    <th scope="col">
      <span ngbTooltip="{{snippetService.getSnippet('general.ec')}}">
        EC
      </span>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="!accountStats.topAccounts">
      <td colspan="3" style="text-align: center">
        <app-loading-state></app-loading-state>
      </td>
    </tr>
    <tr *ngIf="accountStats.topAccounts && topAccounts.length === 0">
      <td colspan="3" style="text-align: center; padding-top: 1rem">
        <app-empty-state [text]="snippetService.getSnippet('top-accounts-component.no-miners-found')" [icon]="faHdd"></app-empty-state>
      </td>
    </tr>
  <tr *ngFor="let account of topAccounts; trackBy: trackBy">
    <td class="ellipsis">{{account.name ? account.name : account.payoutAddress}}</td>
    <td>{{account.pendingRounded}}<span *ngIf="account.pendingRounded === 0 && account.collateral"><small> +{{account.collateralRounded}}</small></span> {{poolConfig.ticker}}</td>
    <td>{{getFormattedCapacity(account.ec)}} <small>({{getEcShare(account)}} %)</small></td>
  </tr>
  </tbody>
</table>
