.dropdown-menu {
  background-color: #2f3136;
  color: #cfd0d1;
}
.dropdown-item {
  color: #cfd0d1;
}
.dropdown-divider {
  border-top: 1px solid #262629;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #262629;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
