.header-row-item {
  padding-left: 4px;
  padding-right: 4px;
}
.dropdown-menu {
  background-color: #2f3136;
  color: #cfd0d1;
}
.dropdown-item {
  color: #cfd0d1;
}
.dropdown-divider {
  border-top: 1px solid #262629;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #262629;
}
.sticky-navbar {
  position: fixed;
  background-color: #2f3136;
  top: 0;
  width: 100vw;
  z-index: 1030;
  padding-left: 1em;
  padding-right: 2em;
}
@media (min-width: 1700px) {
  .sticky-navbar {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1800px) {
  .sticky-navbar {
    padding-left: 7%;
    padding-right: 7%;
  }
}
.dark-background {
  background-color: #262629;
  color: #cfd0d1;
  border-color: #6c757d;
}
.logout-button:hover{
  color:#fff;
  background-color:#dc3545;
  border-color:#dc3545
}
.other-pools-button:hover{
  color:#212529;
  background-color:#f8f9fa;
  border-color:#f8f9fa
}
.search-button{
  cursor: pointer;
}
.search-input {
  max-width: 16em;
}
@media (max-width: 1200px) {
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-item {
    padding-left: 4px;
    padding-right: 4px;
  }
  .header-row-item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
