<nav class="navbar navbar-expand-xl navbar-dark sticky-navbar">
  <a class="navbar-brand">
    <img src="https://static.foxypool.io/assets/icon/fox.svg" width="34" height="34" alt="">
    <span style="font-weight: 300; font-size: 1.1em;margin-left: 8px;vertical-align: top">{{poolTitle}}</span>
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenuCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.dashboard')}}
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/my-farmer" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.my-farmer')}}
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/blocks-won" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.blocks-won')}}
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/payouts" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.payouts')}}
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/info" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.info')}}
          </button>
        </a>
      </li>
      <li class="nav-item" *ngIf="poolConfig.supportsFaucet">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/faucet" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.faucet')}}
          </button>
        </a>
      </li>
      <li class="nav-item" *ngIf="poolConfig.notices && poolConfig.notices.length > 0">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/notices" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.notices')}}
          </button>
        </a>
      </li>
      <li class="nav-item" *ngIf="poolStats.events && poolStats.events.length > 0">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary no-wrap" routerLink="/events" routerLinkActive="active" (click)="onTabButtonClick()">
            {{snippetService.getSnippet('header-component.button.events')}}
          </button>
        </a>
      </li>
    </ul>
    <div class="header-row-item" *ngIf="showLogoutButton">
      <button class="btn dark-background btn-outline-danger logout-button" (click)="accountService.logout()">{{snippetService.getSnippet('header-component.button.logout')}}</button>
    </div>
    <div class="header-row-item" *ngIf="ratesService.currencies && ratesService.currencies.length > 0">
      <app-currency-selector></app-currency-selector>
    </div>
    <div class="input-group header-row-item search-input">
      <input
        class="form-control dark-background"
        type="search"
        [(ngModel)]="accountSearchInput"
        [placeholder]="snippetService.getSnippet('header-component.search.placeholder')"
        (keyup.enter)="search()"
        aria-label="Search"
      >
      <div class="input-group-append">
        <div class="input-group-text dark-background search-button" (click)="search()">
          <fa-icon [icon]="searchIcon" class="color-green"></fa-icon>
        </div>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block header-row-item" *ngIf="otherPools.length > 0">
      <button class="btn btn-outline-light dark-background other-pools-button" id="poolsDropdown" ngbDropdownToggle>
        {{snippetService.getSnippet('header-component.button.other-pools')}}
      </button>
      <div ngbDropdownMenu aria-labelledby="poolsDropdown">
        <div *ngFor="let pool of otherPools; let i = index" [attr.data-index]="i">
          <h6 *ngIf="!getPool(i - 1) || getPool(i - 1).algorithm !== pool.algorithm" class="dropdown-header">{{pool.algorithm}}</h6>
          <a ngbDropdownItem href="{{pool.url}}" target="_blank">{{pool.name}}</a>
          <div *ngIf="getPool(i + 1) && getPool(i + 1).algorithm !== pool.algorithm" class="dropdown-divider"></div>
        </div>
      </div>
    </div>
  </div>
</nav>
