<h5 style="color: #474747">Notification settings</h5>
<div class="row mt-3">
  <div class="col-12">
    <div class="form-group">
      <label for="harvesterOfflineDuration" class="form-label">
        <div class="form-check form-switch">
          <input class="form-check-input" [ngClass]="{ 'inherited-switch': isInheritedAreOfflineNotificationsEnabled }" type="checkbox" role="switch" id="enableHarvesterOfflineNotifications" [(ngModel)]="areOfflineNotificationsEnabled">
          <label class="form-check-label text-color-and-size" for="enableHarvesterOfflineNotifications" style="display: inline">
            Notify when this Harvester does not send any partials for
          </label>
        </div>
      </label>
      <div class="duration-slider-wrapper" [ngClass]="{ inherited: isInheritedOfflineDurationInMinutes }">
        <ngx-slider id="harvesterOfflineDuration" [(value)]="newOfflineDurationInMinutes" [options]="harvesterOfflineDurationOptions"></ngx-slider>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12" >
    <div class="alert alert-info" role="alert" style="font-size: 1.1rem">
      You can subscribe and unsubscribe to your accounts notification using your discord account by using the corresponding slash command:<br>
      <code>/subscribe-to-notifications</code><br>
      or <code>/unsubscribe-from-notifications</code>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <button type="button" class="btn btn-success w-100" (click)="updateNotificationSettings()" [disabled]="!canUpdateNotificationSettings">
      <span *ngIf="isUpdating">Saving</span>
      <span *ngIf="!isUpdating">Apply changes</span>
      <fa-icon [icon]="faCircleNotch" [spin]="true" *ngIf="isUpdating" style="margin-top: 5px; margin-left: 0.8em"></fa-icon>
    </button>
  </div>
</div>
