<ng-template #settingsModal let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color: #474747">Harvester Settings</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-sm-3 settings-nav">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
          <li ngbNavItem="notifications" [destroyOnHide]="true">
            <a class="text-decoration-none" ngbNavLink>Notifications</a>
            <ng-template ngbNavContent>
              <app-update-harvester-notification-settings [harvester]="harvester" (updatedHarvester)="harvesterWasUpdated()"></app-update-harvester-notification-settings>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-9">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</ng-template>
