.text-color-and-size {
  color: #474747;
  font-size: 1.1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.input-group-text {
  border: 1px solid black;
}
.form-control {
  border: 1px solid black;
}
.custom-select {
  border: 1px solid black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.duration-slider {
  margin-top: 0.5rem;
}
.duration-slider-wrapper {
  margin-right: 12px;
}
