input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.custom-select {
  border: 1px solid var(--settings-input-field-border-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.duration-slider-wrapper {
  margin-right: 12px;
  margin-bottom: 1.25rem;
}
