.text-align-center {
  text-align: center;
}
.card-header {
  padding-bottom: 0.15rem;
}
.card-body {
  padding-top: 1rem;
}
.card-body-with-title {
  padding-top: 0.5rem;
}
.card-font-size {
  font-size: 18px;
}
.row-without-margin {
  margin-left: 0;
  margin-right: 0;
}
.ec-chart {
  height: 15rem;
}
.shares-chart {
  height: 15rem;
}
