<div class="row">
  <div class="col-12" *ngIf="!accountService.havePoolPublicKey">
    <div class="row justify-content-center">
      <input type="text" class="form-control" placeholder="{{snippetService.getSnippet('my-farmer-component.pool-pk-input.placeholder')}}" [(ngModel)]="poolPublicKeyInput" style="width: 32em;margin-right: 0.5rem;">
      <button class="btn btn-success" style="margin-left: 0.5rem;" (click)="login()">
        <fa-icon *ngIf="accountService.isLoading" [icon]="faCircleNotch" [spin]="true"></fa-icon>
        <span *ngIf="accountService.isLoading"> {{snippetService.getSnippet('my-farmer-component.login-button.label-logging-in')}}</span>
        <span *ngIf="!accountService.isLoading">{{snippetService.getSnippet('my-farmer-component.login-button.label')}}</span>
      </button>
    </div>
  </div>
  <div class="col-12" *ngIf="accountService.havePoolPublicKey && !accountService.haveAccount && accountService.isLoading">
    <div class="row justify-content-center">
      <app-loading-state></app-loading-state>
    </div>
  </div>
  <div class="col-12" *ngIf="accountService.havePoolPublicKey && accountService.haveAccount">
    <div class="row">
      <div class="p-1 col-md-12 col-lg-9 col-xxl-20">
        <div class="row row-without-margin">
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.pending-balance-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size card-body-with-progress-bar">
                <span placement="bottom" ngbTooltip="{{ratesService.getValuesInFiatFormatted(accountService.account.pendingRounded)}}">{{accountService.account.pendingRounded}} {{poolConfig.ticker}}</span>
              </div>
              <ngb-progressbar
                class="card-progress-bar"
                type="primary"
                [striped]="false"
                [animated]="false"
                [value]="pendingProgress"
                placement="bottom"
                [ngbTooltip]="snippetService.getSnippet('my-farmer-component.pending-balance-card.progress.help', pendingProgressRaw.toFixed(2))"
              ></ngb-progressbar>
            </div>
          </div>
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.estimated-daily-reward-card.title')}}</h5>
                <fa-icon
                  [icon]="faInfoCircle"
                  [ngbTooltip]="snippetService.getSnippet('my-farmer-component.estimated-daily-reward-card.help')"
                  placement="bottom"
                  class="header-info-icon"
                ></fa-icon>
              </div>
              <div class="card-body text-align-center card-font-size">
                <span placement="bottom" ngbTooltip="{{ratesService.getValuesInFiatFormatted(estimatedDailyReward)}}">{{estimatedDailyReward}} {{poolConfig.ticker}}</span>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>Average Effective Capacity</h5>
                <fa-icon
                  [icon]="faInfoCircle"
                  [ngbTooltip]="snippetService.getSnippet('my-farmer-component.ec-card.help')"
                  placement="bottom"
                  class="header-info-icon"
                ></fa-icon>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{getFormattedCapacity(accountService.account.ec)}} <span style="font-size: 14.4px">({{ecShare}} %)</span>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.last-partial-accepted-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{getLastAcceptedPartialAtDuration(accountService.account.lastAcceptedPartialAt)}}
              </div>
            </div>
          </div>
        </div>
        <div class="row row-without-margin">
          <div class="p-1 col-md-12 col-lg-6 col-xxl-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.payout-address-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size ellipsis">
                <a href="{{getBlockExplorerAddressLink(accountService.account.payoutAddress)}}" target="_blank" style="color: #b45bff;">{{accountService.account.payoutAddress}}</a>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-12 col-lg-6 col-xxl-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5> {{snippetService.getSnippet('my-farmer-component.pool-public-key-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size ellipsis">
                {{accountService.account.poolPublicKey}}
              </div>
            </div>
          </div>
        </div>
        <div class="row row-without-margin">
          <div class="p-1 col-md-4 col-lg-4 col-xxl-6" *ngIf="accountService.account.collateral">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.collateral-balance-card.title')}}</h5>
                <fa-icon
                  [icon]="faInfoCircle"
                  [ngbTooltip]="snippetService.getSnippet('my-farmer-component.collateral-balance-card.help')"
                  placement="bottom"
                  class="header-info-icon"
                ></fa-icon>
              </div>
              <div class="card-body text-align-center card-font-size card-body-with-progress-bar">
                <span placement="bottom" ngbTooltip="{{ratesService.getValuesInFiatFormatted(accountService.account.collateralRounded)}}">{{accountService.account.collateralRounded}} {{poolConfig.ticker}}</span>
              </div>
              <ngb-progressbar
                class="card-progress-bar"
                type="primary"
                [striped]="false"
                [animated]="false"
                [value]="collateralProgress"
                placement="bottom"
                [ngbTooltip]="snippetService.getSnippet('my-farmer-component.collateral-balance-card.progress.help', collateralProgress.toFixed(2))"
              ></ngb-progressbar>
            </div>
          </div>
          <div class="p-1 col-md-3 col-lg-3 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.difficulty-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{accountService.account.difficulty}}
              </div>
            </div>
          </div>
          <div class="p-1 col-md-3 col-lg-3 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>Current Effort</h5>
                <fa-icon
                  [icon]="faInfoCircle"
                  ngbTooltip="The current effort shows the effort since the last won block based on your average effective capacity. The effort is given in percent, where 100% equals your estimated time to win."
                  placement="bottom"
                  class="header-info-icon"
                ></fa-icon>
              </div>
              <div class="card-body text-align-center card-font-size">
                <span [class]="getEffortColor(currentEffort)">{{currentEffortFormatted}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 col-md-12 col-lg-3 col-xxl-4">
        <div class="row row-without-margin">
          <div class="p-1 col-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.name-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{accountService.account.name || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row row-without-margin">
          <div class="p-1 col-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.manage-account-card.title')}}</h5>
              </div>
              <div class="card-body">
                <div class="row justify-content-center" *ngIf="!accountService.haveAuthToken" >
                  <button class="btn btn-success" (click)="authenticate()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.authenticate')}}</button>
                  &nbsp;&nbsp;<fa-icon style="font-size: 1.5rem" [icon]="faInfoCircle" placement="bottom" [ngbTooltip]="snippetService.getSnippet('my-farmer-component.manage-account-card.auth-info')"></fa-icon>
                </div>
                <div class="text-align-center" *ngIf="accountService.haveAuthToken">
                  <div class="p-1 row">
                    <div class="col-12 card-font-size">
                      <fa-icon [icon]="faUserCheck"></fa-icon>&nbsp;{{snippetService.getSnippet('my-farmer-component.manage-account-card.authenticated')}}
                    </div>
                  </div>
                  <div class="p-1 row">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="updateName()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.update-name')}}</button>
                    </div>
                  </div>
                  <div class="p-1 row">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="updateMinimumPayout()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.update-minimum-payout')}}</button>
                    </div>
                  </div>
                  <div class="p-1 row">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="updateDifficulty()">Update difficulty</button>
                    </div>
                  </div>
                  <div class="p-1 row" *ngIf="supportsNotifications">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="updateNotificationSettings()">Notifications</button>
                    </div>
                  </div>
                  <div class="p-1 row" *ngIf="canLeavePool">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="leavePool()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.leave-pool')}}</button>
                    </div>
                  </div>
                  <div class="p-1 row" *ngIf="canRejoinPool">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="rejoinPool()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.rejoin-pool')}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="p-2 col-md-12">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem="stats" [destroyOnHide]="true">
            <a ngbNavLink><h5>{{snippetService.getSnippet('my-farmer-component.tabs.stats.label')}}</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <div echarts [options]="ecChartOptions" [merge]="ecChartUpdateOptions" theme="default" class="ec-chart"></div>
              </div>
              <div class="p-1 col-md-12">
                <div echarts [options]="sharesChartOptions" [merge]="sharesChartUpdateOptions" theme="default" class="shares-chart"></div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="recent-payouts" [destroyOnHide]="true">
            <a ngbNavLink><h5>{{snippetService.getSnippet('my-farmer-component.tabs.recent-payouts.label')}}</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <app-farmer-payout-history
                  [isLoading]="isAccountLoading | async"
                  [poolConfig]="poolConfig"
                  [coinConfig]="statsService.coinConfig"
                  [payoutDateFormattingObservable]="payoutDateFormattingObservable"
                  [selectedCurrencyObservable]="selectedCurrencyObservable"
                  [exchangeStatsObservable]="exchangeStatsObservable"
                  [payouts]="accountService.accountPayouts"
                ></app-farmer-payout-history>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="won-blocks" [destroyOnHide]="true">
            <a ngbNavLink><h5>{{snippetService.getSnippet('my-farmer-component.tabs.won-blocks.label')}}</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <app-farmer-won-blocks
                  [isLoading]="isAccountLoading | async"
                  [poolConfig]="poolConfig"
                  [wonBlocksObservable]="accountService.accountWonBlocks.asObservable()"
                ></app-farmer-won-blocks>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
<app-authentication-modal></app-authentication-modal>
<app-update-name-modal></app-update-name-modal>
<app-leave-pool-modal></app-leave-pool-modal>
<app-update-minimum-payout-modal></app-update-minimum-payout-modal>
<app-update-difficulty-modal></app-update-difficulty-modal>
<app-update-notification-settings-modal></app-update-notification-settings-modal>
