.text-align-center {
  text-align: center;
}
.card-header {
  padding-bottom: 0.15rem;
}
.card-body {
  padding-top: 1rem;
}
.card-body-with-title {
  padding-top: 0.5rem;
}
.card-font-size {
  font-size: 18px;
}
.row-without-margin {
  margin-left: 0;
  margin-right: 0;
}
.ec-chart {
  height: 15rem;
}
.shares-chart {
  height: 15rem;
}
.header-info-icon {
  font-size: 1.1rem;
  margin-top: -44px;
  margin-right: -14px;
  float: right;
  color: rgba(255, 255, 255, 0.4);
}
.header-info-icon:hover{
  color: rgba(255, 255, 255, 0.9);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep .progress {
  background-color: #262629 !important;
}
.card-progress-bar {
  border-radius: 0 0 0.25rem 0.25rem;
  margin-left: -1px;
  height: 0.5rem;
}
.card-body-with-progress-bar {
  margin-bottom: -0.5rem;
}
.nav-tabs {
  border-bottom-color: #2b2e33;
}
.nav-tabs .nav-link {
  color: #cfd0d1;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-width: 2px;
}
.nav-tabs .nav-link.active {
  color: #007bff;
  background-color: unset;
  border-color: #007bff;
}
