<div class="row">
  <div class="col-12" *ngIf="!accountService.havePoolPublicKey">
    <div class="d-flex justify-content-center">
      <input type="text" class="form-control" placeholder="{{snippetService.getSnippet('my-farmer-component.pool-pk-input.placeholder')}}" [(ngModel)]="poolPublicKeyInput" style="width: 32em;margin-right: 0.5rem;">
      <button class="btn btn-success" style="margin-left: 0.5rem;" (click)="login()">
        <fa-icon *ngIf="accountService.isLoading" [icon]="faCircleNotch" [spin]="true"></fa-icon>
        <span *ngIf="accountService.isLoading"> {{snippetService.getSnippet('my-farmer-component.login-button.label-logging-in')}}</span>
        <span *ngIf="!accountService.isLoading">{{snippetService.getSnippet('my-farmer-component.login-button.label')}}</span>
      </button>
    </div>
  </div>
  <div class="col-12" *ngIf="accountService.havePoolPublicKey && !accountService.haveAccount && accountService.isLoading">
    <div class="d-flex justify-content-center">
      <app-loading-state></app-loading-state>
    </div>
  </div>
  <div class="col-12" *ngIf="accountService.havePoolPublicKey && accountService.haveAccount">
    <div class="row mb-1">
      <div class="col-12 col-md">
        <div>
          <span *ngIf="accountService.account.name !== undefined" class="mb-0 fw-light fs-2">{{accountService.account.name}}</span>
          <ng-template #badgeContent>
            <div *ngIf="topNRankInfo" class="mt-2">
              <img src="assets/top-n-ranks/{{topNRankInfo.imageFileName}}" loading="lazy" height="64" width="64" [alt]="topNRankInfo.imageAlt">
              <span class="ms-3">{{topNRankInfo.imageAlt}}</span>
            </div>
            <div *ngIf="tenureRankInfo" class="mt-2">
              <img src="assets/tenure-ranks/{{tenureRankInfo.imageFileName}}" loading="lazy" height="64" width="64" [alt]="tenureRankInfo.imageAlt">
              <span class="ms-3">{{tenureRankInfo.imageAlt}}</span>
            </div>
            <div *ngIf="capacityRankInfo" class="mt-2">
              <img src="assets/capacity-ranks/{{capacityRankInfo.imageFileName}}" loading="lazy" height="64" width="64" [alt]="capacityRankInfo.imageAlt">
              <span class="ms-3">{{capacityRankInfo.imageAlt}}</span>
            </div>
            <div *ngIf="joinedFirstYear" class="mt-2">
              <img ngSrc="assets/joined-first-year.png" height="64" width="64" alt="Year 1 member">
              <span class="ms-3">Year 1 member</span>
            </div>
          </ng-template>
          <div
            class="d-inline"
            style="cursor: pointer"
            [ngbPopover]="badgeContent"
            [autoClose]="'outside'"
          >
            <img *ngIf="topNRankInfo" src="assets/top-n-ranks/{{topNRankInfo.imageFileName}}" loading="lazy" height="32" width="32" [alt]="topNRankInfo.imageAlt" [ngbTooltip]="topNRankInfo.imageAlt" class="ms-2" style="margin-top: -0.8em">
            <img *ngIf="tenureRankInfo" src="assets/tenure-ranks/{{tenureRankInfo.imageFileName}}" loading="lazy" height="32" width="32" [alt]="tenureRankInfo.imageAlt" [ngbTooltip]="tenureRankInfo.imageAlt" class="ms-2" style="margin-top: -0.8em">
            <img *ngIf="capacityRankInfo" src="assets/capacity-ranks/{{capacityRankInfo.imageFileName}}" loading="lazy" height="32" width="32" [alt]="capacityRankInfo.imageAlt" [ngbTooltip]="capacityRankInfo.imageAlt" class="ms-2" style="margin-top: -0.8em">
            <img *ngIf="joinedFirstYear" ngSrc="assets/joined-first-year.png" height="32" width="32" alt="Year 1 member" ngbTooltip="Year 1 member" class="ms-2" style="margin-top: -0.8em">
          </div>
        </div>
        <div class="fw-light fs-5 text-break">{{accountService.account.poolPublicKey}}</div>
      </div>
      <div class="col-12 col-md-auto my-auto action-box" *ngIf="!accountService.haveAuthToken">
        <button class="btn btn-success" (click)="authenticate()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.authenticate')}}</button>
      </div>
      <div class="col-12 col-md-auto my-auto action-box" *ngIf="accountService.haveAuthToken">
        <button *ngIf="canRejoinPool" class="btn btn-success me-2" (click)="rejoinPool()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.rejoin-pool')}}</button>
        <button class="btn btn-outline-light" (click)="openSettingsModal()">Settings</button>
      </div>
    </div>
    <div class="row row-cols-xxl-5" [ngClass]="rowClasses">
      <div class="p-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>{{snippetService.getSnippet('my-farmer-component.pending-balance-card.title')}}</h5>
          </div>
          <div class="card-body text-align-center card-font-size card-body-with-progress-bar">
            <span ngbTooltip="{{ratesService.getValuesInFiatFormatted(accountService.account.pendingRounded)}}">{{accountService.account.pendingRounded}} {{poolConfig.ticker}}</span>
          </div>
          <ng-template #pendingProgressTooltipContent>
            <span class="color-green">{{pendingProgressRaw.toFixed(2)}}%</span> of the minimum payout reached.
            <span *ngIf="pendingProgress < 100 && isCollateralFilledOrNonExistent">The minimum payout will be reached <span class="color-green">{{timeTillMinimumPayoutReached}}</span>.</span>
            <span *ngIf="pendingProgress === 100">Your pending balance will be paid out in the next payout <span class="color-green">{{timeTillNextPayout}}</span></span>
          </ng-template>
          <ngb-progressbar
            class="card-progress-bar"
            [type]="pendingProgress < 100 ? 'primary' : 'success'"
            [striped]="false"
            [animated]="false"
            [value]="pendingProgress"
            [ngbTooltip]="pendingProgressTooltipContent"
          ></ngb-progressbar>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>{{snippetService.getSnippet('my-farmer-component.estimated-daily-reward-card.title')}}</h5>
            <fa-icon
              [icon]="faInfoCircle"
              [ngbTooltip]="snippetService.getSnippet('my-farmer-component.estimated-daily-reward-card.help')"
              class="header-info-icon"
            ></fa-icon>
          </div>
          <div class="card-body text-align-center card-font-size">
            <span ngbTooltip="{{ratesService.getValuesInFiatFormatted(estimatedDailyReward)}}">{{estimatedDailyReward}} {{poolConfig.ticker}}</span>
          </div>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>Effective Capacity</h5>
            <fa-icon
              [icon]="faInfoCircle"
              [ngbTooltip]="snippetService.getSnippet('my-farmer-component.ec-card.help')"
              class="header-info-icon"
            ></fa-icon>
          </div>
          <div class="card-body text-align-center card-font-size">
            {{getFormattedCapacity(accountService.account.ec)}} <span style="font-size: 14.4px">(<span ngbTooltip="You hold {{ecShare}}% of the pools capacity">{{ecShare}}%</span><span *ngIf="rank">, <span ngbTooltip="You are ranked #{{rank}} in the pool">#{{rank}}</span></span>)</span>
          </div>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>{{snippetService.getSnippet('my-farmer-component.last-partial-accepted-card.title')}}</h5>
          </div>
          <div class="card-body text-align-center card-font-size">
            {{getLastAcceptedPartialAtDuration(accountService.account.lastAcceptedPartialAt)}}
          </div>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-8 col-lg-6 col-xl-6 col-xxl-6 order-xxl-last col-xxxl-12 col-xxxxl-8 col-xxxxxl-6">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>{{snippetService.getSnippet('my-farmer-component.payout-address-card.title')}}</h5>
          </div>
          <div class="card-body text-align-center card-font-size ellipsis">
            <a href="{{getBlockExplorerAddressLink(accountService.account.payoutAddress)}}" target="_blank" style="color: #b45bff;">{{accountService.account.payoutAddress}}</a>
          </div>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>Current Effort</h5>
            <fa-icon
              [icon]="faInfoCircle"
              ngbTooltip="The current effort shows the effort since the last won block based on your average effective capacity. The effort is given in percent, where 100% equals your estimated time to win."
              class="header-info-icon"
            ></fa-icon>
          </div>
          <div class="card-body text-align-center card-font-size">
            <span [class]="getEffortColor(currentEffort)">{{currentEffortFormatted}}</span>
          </div>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-2 col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>Average Effort</h5>
            <fa-icon
              [icon]="faInfoCircle"
              ngbTooltip="The average effort is aggregated over your last 20 block win efforts"
              class="header-info-icon"
            ></fa-icon>
          </div>
          <div class="card-body text-align-center card-font-size">
            <span [class]="averageEffortColorClass | async">{{averageEffortFormatted | async}}</span>
          </div>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-2 col-xxxl-4 col-xxxxl col-xxxxxl" *ngIf="accountService.account.collateral">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>{{snippetService.getSnippet('my-farmer-component.collateral-balance-card.title')}}</h5>
            <fa-icon
              [icon]="faInfoCircle"
              [ngbTooltip]="snippetService.getSnippet('my-farmer-component.collateral-balance-card.help')"
              class="header-info-icon"
            ></fa-icon>
          </div>
          <div class="card-body text-align-center card-font-size card-body-with-progress-bar">
            <span ngbTooltip="{{ratesService.getValuesInFiatFormatted(accountService.account.collateralRounded)}}">{{accountService.account.collateralRounded}} {{poolConfig.ticker}}</span>
          </div>
          <ng-template #collateralProgressTooltipContent>
            <span class="color-green">{{collateralProgressRaw.toFixed(2)}}%</span> of your collateral reached.
            <span *ngIf="collateralProgress < 100">The collateral will be reached <span class="color-green">{{timeTillCollateralReached}}</span>.</span>
          </ng-template>
          <ngb-progressbar
            class="card-progress-bar"
            [type]="collateralProgress < 100 ? 'primary' : 'success'"
            [striped]="false"
            [animated]="false"
            [value]="collateralProgress"
            [ngbTooltip]="collateralProgressTooltipContent"
          ></ngb-progressbar>
        </div>
      </div>
      <div class="p-1 col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-2 col-xxxl-4 col-xxxxl col-xxxxxl">
        <div class="card">
          <div class="card-header text-align-center">
            <h5>{{snippetService.getSnippet('my-farmer-component.difficulty-card.title')}}</h5>
          </div>
          <div class="card-body text-align-center card-font-size">
            {{accountService.account.difficulty}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="p-2 col-md-12">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem="stats" [destroyOnHide]="true">
            <a class="text-decoration-none" ngbNavLink><h5>{{snippetService.getSnippet('my-farmer-component.tabs.stats.label')}}</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <div echarts [options]="ecChartOptions" [merge]="ecChartUpdateOptions" theme="default" class="ec-chart"></div>
              </div>
              <div class="row mt-2 text-align-center">
                <h5 style="font-weight: bold">Shares</h5>
              </div>
              <div class="row ps-5 pe-3 justify-content-center">
                <div class="col-12 col-sm-4 col-xxxxl-6 shares-box">
                  <div class="p-2 border border-primary rounded">
                    <h5 class="mb-1 fw-lighter">Valid Shares</h5>
                    <h4>{{totalValidShares | async}} <span class="shares-box-percentage">({{totalValidSharesPercentage | async}}%)</span></h4>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-xxxxl-6 shares-box">
                  <div class="p-2 border border-primary rounded">
                    <h5 class="mb-1 fw-lighter">Stale Shares</h5>
                    <h4 [ngClass]="staleSharesColorClasses | async">{{totalStaleShares | async}} <span class="shares-box-percentage">({{totalStaleSharesPercentage | async}}%)</span></h4>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-xxxxl-6 shares-box">
                  <div class="p-2 border border-primary rounded">
                    <h5 class="mb-1 fw-lighter">Invalid Shares</h5>
                    <h4 [ngClass]="invalidSharesColorClasses | async">{{totalInvalidShares | async}} <span class="shares-box-percentage">({{totalInvalidSharesPercentage | async}}%)</span></h4>
                  </div>
                </div>
              </div>
              <div class="p-1 col-md-12">
                <div echarts [options]="sharesChartOptions" [merge]="sharesChartUpdateOptions" (chartLegendSelectChanged)="onSharesChartLegendSelectChanged($event)" theme="default" class="shares-chart"></div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="recent-payouts" [destroyOnHide]="true">
            <a class="text-decoration-none" ngbNavLink><h5>{{snippetService.getSnippet('my-farmer-component.tabs.recent-payouts.label')}}</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <app-farmer-payout-history
                  [isLoading]="isAccountLoading | async"
                  [poolConfig]="poolConfig"
                  [coinConfig]="statsService.coinConfig"
                  [payoutDateFormattingObservable]="payoutDateFormattingObservable"
                  [selectedCurrencyObservable]="selectedCurrencyObservable"
                  [exchangeStatsObservable]="exchangeStatsObservable"
                  [payouts]="accountService.accountPayouts"
                ></app-farmer-payout-history>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="won-blocks" [destroyOnHide]="true">
            <a class="text-decoration-none" ngbNavLink><h5>{{snippetService.getSnippet('my-farmer-component.tabs.won-blocks.label')}}</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <app-farmer-won-blocks
                  [isLoading]="isAccountLoading | async"
                  [poolConfig]="poolConfig"
                  [wonBlocksObservable]="accountService.accountWonBlocks.asObservable()"
                ></app-farmer-won-blocks>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="harvesters" [destroyOnHide]="true">
            <a class="text-decoration-none" ngbNavLink><h5>Harvesters</h5></a>
            <ng-template ngbNavContent>
              <div class="p-1 col-md-12">
                <app-farmer-harvesters></app-farmer-harvesters>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
<app-settings-modal></app-settings-modal>
<app-authentication-modal></app-authentication-modal>
