.text-align-center {
  text-align: center;
}
.no-border-color {
  border-color: transparent;
}
.card-header {
  padding-bottom: 0.15rem;
}
.card-body {
  padding-top: 1rem;
}
.card-body-with-title {
  padding-top: 0.5rem;
}
.card-font-size {
  font-size: 18px;
}
.row-without-margin {
  margin-left: 0;
  margin-right: 0;
}
.ec-chart {
  height: 15rem;
}
.shares-chart {
  height: 15rem;
}
.header-info-icon {
  font-size: 1.1rem;
  margin-top: -40px;
  margin-right: -10px;
  float: right;
  color: var(--info-icon-color);
}
.header-info-icon:hover{
  color: var(--info-icon-color-hover);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep .progress {
  background-color: var(--progress-bar-background-color) !important;
}
.card-progress-bar {
  border-radius: 0 0 0.25rem 0.25rem;
  margin-left: -1px;
  height: 0.5rem;
}
.card-body-with-progress-bar {
  margin-bottom: -0.5rem;
}
.nav-tabs {
  border-bottom-color: var(--nav-tabs-bottom-border-color);
}
.nav-tabs .nav-link {
  color: var(--text-color);
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-width: 2px;
}
.nav-tabs .nav-link.active {
  color: #007bff;
  background-color: unset;
  border-color: #007bff;
}
.shares-box-container {
  padding-left: 2.25rem;
  padding-right: .3rem;
}
.shares-box-percentage {
  font-size: 16px;
}
@media (max-width: 575px) {
  .shares-box {
    margin-bottom: .5rem;
  }
}
.manage-account-button {
  width: 100%;
}
@media (max-width:767px) {
  .action-box {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    text-align: center;
  }
}
.reward-interval {
  cursor: pointer;
}
.reward-interval:hover {
  color: #007bff;
}
.duration-selection {
  padding-right: 0.75rem;
  border: 1px solid var(--nav-tabs-bottom-border-color);
  border-top: unset;
  border-left: unset;
  border-right: unset;
}
.profile-picture-image {
  max-height: 3.9rem;
  margin-bottom: -0.3rem;
}
@media (max-width:864px) {
  .profile-picture-image {
    max-height: 5.6rem;
  }
}
@media (max-width:472px) {
  .profile-picture-image {
    max-height: 7.2rem;
  }
}
@media (max-width:576px) {
  .nav-tabs-no-border {
    border: unset;
  }
  .duration-selection {
    padding-bottom: 1rem;
  }
}
@media (min-width: 474px) and (max-width:576px) {
  .duration-selection {
    padding-top: 0.5rem;
  }
}
