<div class="row">
  <div class="col-12" *ngIf="!accountService.havePoolPublicKey">
    <div class="row justify-content-center">
      <input type="text" class="form-control" placeholder="{{snippetService.getSnippet('my-farmer-component.pool-pk-input.placeholder')}}" [(ngModel)]="poolPublicKeyInput" style="width: 32em;margin-right: 0.5rem;">
      <button class="btn btn-success" style="margin-left: 0.5rem;" (click)="login()">
        <fa-icon *ngIf="accountService.isLoading" [icon]="faCircleNotch" [spin]="true"></fa-icon>
        <span *ngIf="accountService.isLoading"> {{snippetService.getSnippet('my-farmer-component.login-button.label-logging-in')}}</span>
        <span *ngIf="!accountService.isLoading">{{snippetService.getSnippet('my-farmer-component.login-button.label')}}</span>
      </button>
    </div>
  </div>
  <div class="col-12" *ngIf="accountService.havePoolPublicKey && !accountService.haveAccount && accountService.isLoading">
    <div class="row justify-content-center">
      <app-loading-state></app-loading-state>
    </div>
  </div>
  <div class="col-12" *ngIf="accountService.havePoolPublicKey && accountService.haveAccount">
    <div class="row">
      <div class="p-1 col-md-12 col-lg-9 col-xxl-20">
        <div class="row row-without-margin">
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.pending-balance-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                <span placement="bottom" ngbTooltip="{{getCoinValueAsFiat(accountService.account.pendingRounded).toFixed(2)}} USD">{{accountService.account.pendingRounded}} {{poolConfig.ticker}}</span>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.estimated-daily-reward-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                <span placement="bottom" ngbTooltip="{{getCoinValueAsFiat(estimatedDailyReward).toFixed(2)}} USD">{{estimatedDailyReward}} {{poolConfig.ticker}}</span>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5 ngbTooltip="{{snippetService.getSnippet('general.ec')}}">EC</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{getFormattedCapacity(accountService.account.ec)}} <small>({{ecShare}} %)</small>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-6 col-lg-6 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.last-partial-accepted-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{getLastAcceptedPartialAtDuration(accountService.account.lastAcceptedPartialAt)}}
              </div>
            </div>
          </div>
        </div>
        <div class="row row-without-margin">
          <div class="p-1 col-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.payout-address-card.title')}}</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-2 card-font-size">
                    {{snippetService.getSnippet('my-farmer-component.payout-address-card.payout-address')}}
                  </div>
                  <div class="col-10 card-font-size" style="text-align: end">
                    {{accountService.account.payoutAddress}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 card-font-size">
                    {{snippetService.getSnippet('my-farmer-component.payout-address-card.pool-public-key')}}
                  </div>
                  <div class="col-10 card-font-size" style="text-align: end">
                    {{accountService.account.poolPublicKey}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-without-margin">
          <div class="p-1 col-md-3 col-lg-3 col-xxl-6" *ngIf="accountService.account.collateral">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.collateral-balance-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                <span placement="bottom" ngbTooltip="{{getCoinValueAsFiat(accountService.account.collateralRounded).toFixed(2)}} USD">{{accountService.account.collateralRounded}} {{poolConfig.ticker}}</span>
              </div>
            </div>
          </div>
          <div class="p-1 col-md-3 col-lg-3 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.difficulty-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{accountService.account.difficulty}}
              </div>
            </div>
          </div>
          <div class="p-1 col-md-3 col-lg-3 col-xxl-6">
            <div class="card">
              <div class="card-header text-align-center">
                <h5 ngbTooltip="{{snippetService.getSnippet('general.distribution-ratio')}}">DR</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{accountService.account.distributionRatio}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 col-md-12 col-lg-3 col-xxl-4">
        <div class="row row-without-margin">
          <div class="p-1 col-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.name-card.title')}}</h5>
              </div>
              <div class="card-body text-align-center card-font-size">
                {{accountService.account.name || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row row-without-margin">
          <div class="p-1 col-12">
            <div class="card">
              <div class="card-header text-align-center">
                <h5>{{snippetService.getSnippet('my-farmer-component.manage-account-card.title')}}</h5>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <button *ngIf="!accountService.haveAuthToken" class="btn btn-success" (click)="authenticate()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.authenticate')}}</button>
                  &nbsp;&nbsp;<fa-icon style="font-size: 1.5rem" [icon]="faInfoCircle" placement="bottom" [ngbTooltip]="snippetService.getSnippet('my-farmer-component.manage-account-card.auth-info')"></fa-icon>
                </div>
                <div class="text-align-center" *ngIf="accountService.haveAuthToken">
                  <div class="p-1 row">
                    <div class="col-12 card-font-size">
                      <fa-icon [icon]="faUserCheck"></fa-icon>&nbsp;{{snippetService.getSnippet('my-farmer-component.manage-account-card.authenticated')}}
                    </div>
                  </div>
                  <div class="p-1 row">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="updateName()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.update-name')}}</button>
                    </div>
                  </div>
                  <div class="p-1 row" *ngIf="canLeavePool">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="leavePool()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.leave-pool')}}</button>
                    </div>
                  </div>
                  <div class="p-1 row" *ngIf="canRejoinPool">
                    <div class="col-12">
                      <button class="btn btn-outline-light" (click)="rejoinPool()">{{snippetService.getSnippet('my-farmer-component.manage-account-card.action.rejoin-pool')}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-authentication-modal></app-authentication-modal>
<app-update-name-modal></app-update-name-modal>
<app-leave-pool-modal></app-leave-pool-modal>
