<div class="row justify-content-center">
  <div class="col-12">
    <h4>
      {{snippetService.getSnippet('events-component.title')}}:
    </h4>
    <div class="row">
      <div *ngFor="let event of events" style="padding: 0.5em;">
        <div class="card" *ngIf="event.type === EVENT_TYPE.EXTRA_BLOCK_REWARD">
          <div class="card-header">
            {{snippetService.getSnippet('events-component.extra-block-reward.title')}}
          </div>
          <div class="card-body">
            <ul>
              <li>
                {{snippetService.getSnippet('events-component.state')}}: <strong>{{snippetService.getSnippet('events-component.states.' + event.state)}}</strong>
              </li>
              <li *ngIf="event.startedAt && event.state === EVENT_STATE.UPCOMING">
                {{snippetService.getSnippet('events-component.will-start')}}: {{getFormattedDate(event.startedAt)}}
              </li>
              <li *ngIf="event.startedAt && (event.state === EVENT_STATE.ACTIVE || event.state === EVENT_STATE.ENDED)">
                {{snippetService.getSnippet('events-component.started-at')}}: {{getFormattedDate(event.startedAt)}}
              </li>
              <li *ngIf="event.endedAt">
                {{snippetService.getSnippet('events-component.ended-at')}}: {{getFormattedDate(event.endedAt)}}
              </li>
              <li>
                {{snippetService.getSnippet('events-component.extra-reward')}}: {{event.payload.extraReward}} {{ticker}}
              </li>
              <li>
                <span style="display: inline-table">
                  {{snippetService.getSnippet('events-component.filled')}}: {{event.payload.creditedCount}} / {{event.payload.totalCount}} ({{getEventProgress(event).toFixed(0)}}%)
                  <ngb-progressbar *ngIf="getEventProgress(event) < 100" [striped]="true" [animated]="true" type="secondary" [value]="getEventProgress(event)"></ngb-progressbar>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
