::ng-deep .page-link {
  background-color: #262629;
  border-color: #18191c;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
::ng-deep .page-link:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: #18191c;
  text-decoration: none;
}
::ng-deep .page-item:not(.active) .page-link:hover {
  background-color: #262629;
}
::ng-deep .page-item.disabled .page-link {
  background-color: #262629;
  border-color: #18191c;
}
.page-size-select {
  width: 4em;
}
.page-size-select-option {
  background-color: #262629;
}
.dark-background {
  background-color: #262629;
  color: #cfd0d1;
  border-color: #6c757d;
}
.page-size-select-label {
  font-size: small;
}
.footer-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-auto-flow: row;
  justify-items: center;
}
.pagination-grid-item {
  grid-column-start: 2;
}
@media (max-width: 606px) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-auto-flow: row;
    justify-items: center;
  }
  .pagination-grid-item {
    grid-column-start: 1;
  }
}
