.card {
  text-align: center;
  background-color: #2f3136;
  margin-bottom: 1em;
}
.card-header-large {
  padding: 0.5rem 0.25rem;
}
.card-body-large {
  padding: 0.5rem;
}
.card-text-large {
  font-size: 1.6rem;
  font-weight: 450;
}
.card-text-medium {
  font-size: 1.1rem;
  font-weight: 400;
}
.small-col-padding {
  padding-left: 4px;
  padding-right: 4px;
}
