<div class="row">
  <div class="col-sm-6 col-md-3 col-lg-6 col-xxl-7 small-col-padding">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.current-effort')}}
        <fa-icon
          [icon]="faInfoCircle"
          [ngbTooltip]="snippetService.getSnippet('stats-card-component.current-effort.help')"
          placement="bottom"
          class="header-info-icon"
        ></fa-icon>
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!rewardStatsLoading && !poolStatsLoading && !accountStatsLoading" [class]="getEffortColor(currentEffort)">{{currentEffortFormatted}}</span>
          <app-loading-state *ngIf="rewardStatsLoading || poolStatsLoading || accountStatsLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-6 col-xxl-7 small-col-padding">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.average-effort')}}
        <fa-icon
          [icon]="faInfoCircle"
          [ngbTooltip]="snippetService.getSnippet('stats-card-component.average-effort.help')"
          placement="bottom"
          class="header-info-icon"
        ></fa-icon>
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!rewardStatsLoading" [class]="getEffortColor(averageEffort)">{{averageEffortFormatted}}</span>
          <app-loading-state *ngIf="rewardStatsLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-10 small-col-padding">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.daily-reward')}}
        <fa-icon
          [icon]="faInfoCircle"
          [ngbTooltip]="snippetService.getSnippet('stats-card-component.daily-reward.help')"
          placement="bottom"
          class="header-info-icon"
        ></fa-icon>
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!rewardStatsLoading && !poolConfigLoading" placement="bottom" ngbTooltip="{{ratesService.getValuesInFiatFormatted(dailyRewardPerPiB)}} / PiB">{{dailyRewardPerPiBFormatted}} {{poolConfig.ticker}} / PiB</span>
          <app-loading-state *ngIf="rewardStatsLoading || poolConfigLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2 col-lg-3 col-xxl-5 small-col-padding order-lg-1 order-xxl-0">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.farmers')}}
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!accountStatsLoading">{{accountStats.accountsWithShares}}</span>
          <app-loading-state *ngIf="accountStatsLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-6 col-xxl-6 small-col-padding order-lg-0 order-xxl-1">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.pool-ec')}}
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!accountStatsLoading">{{getFormattedCapacityFromGiB(accountStats.ecSum || 0)}}</span>
          <app-loading-state *ngIf="accountStatsLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 col-xxl-6 small-col-padding order-lg-2">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.height')}}
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!poolStatsLoading">{{poolStats.height ? poolStats.height : snippetService.getSnippet('general.not-available.short')}}</span>
          <app-loading-state *ngIf="poolStatsLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-6 col-xxl-7 small-col-padding order-lg-3">
    <div class="card">
      <div class="card-header card-text-medium card-header-large">
        {{snippetService.getSnippet('stats-card-component.network-capacity')}}
      </div>
      <div class="card-body card-body-large">
        <span class="card-text card-text-large">
          <span *ngIf="!poolStatsLoading">{{getFormattedCapacityFromTiB(networkSpaceInTiB)}}</span>
           <app-loading-state *ngIf="poolStatsLoading" [height]="2" [width]="2" fontSize="14px"></app-loading-state>
        </span>
      </div>
    </div>
  </div>
</div>
