<div class="row">
  <div class="col-md-6 col-lg-4 col-xxl-6">
    <div class="card">
      <div class="card-header">
        {{snippetService.getSnippet('stats-card-component.height-card.title')}}
      </div>
      <div class="card-body card-body-two-lines">
        <span class="card-text">
          {{snippetService.getSnippet('stats-card-component.height-card.current-effort')}}: <span [class]="getEffortColor(currentEffort)">{{currentEffortFormatted}}</span><br>
          {{snippetService.getSnippet('stats-card-component.height-card.height')}}: {{poolStats.height ? poolStats.height : snippetService.getSnippet('general.not-available.short')}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xxl-6">
    <div class="card">
      <div class="card-header">
        {{snippetService.getSnippet('stats-card-component.network-capacity-card.title')}}
      </div>
      <div class="card-body card-body-two-lines">
            <span class="card-text">
              {{snippetService.getSnippet('stats-card-component.network-capacity-card.network-capacity')}}: {{getFormattedCapacityFromTiB(poolStats.networkSpaceInTiB)}}<br>
              {{snippetService.getSnippet('stats-card-component.network-capacity-card.network-difficulty')}}: {{poolStats.difficulty}}
            </span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xxl-6">
    <div class="card">
      <div class="card-header">
        {{snippetService.getSnippet('stats-card-component.farmers-card.title')}}
      </div>
      <div class="card-body">
            <span class="card-text">
              {{accountStats.accountsWithShares}} | {{getFormattedCapacityFromGiB(accountStats.ecSum || 0)}}
            </span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xxl-6">
    <div class="card">
      <div class="card-header">
        {{snippetService.getSnippet('stats-card-component.reward-card.title')}}
      </div>
      <div class="card-body card-body-two-lines">
            <span class="card-text">
              {{snippetService.getSnippet('stats-card-component.reward-card.average-effort')}}: <span [class]="getEffortColor(averageEffort)">{{averageEffortFormatted}}</span><br>
              {{snippetService.getSnippet('stats-card-component.reward-card.daily-reward')}}: <span placement="bottom" ngbTooltip="{{ratesService.getValuesInFiatFormatted(dailyRewardPerPiB)}} / PiB">{{dailyRewardPerPiB}} {{poolConfig.ticker}} / PiB</span>
            </span>
      </div>
    </div>
  </div>
</div>
