<div class="row">
  <div *ngIf="recentPayouts.length > 0" class="col-md-12">
    <div echarts [options]="chartOptions" [merge]="chartUpdateOptions" theme="default" class="recent-payouts-chart"></div>
  </div>
  <div class="col-md-12">
    <button *ngIf="recentPayouts.length > 0" type="button" class="btn btn-outline-info btn-sm" style="float: right" (click)="exportCsv()">{{snippetService.getSnippet('download-csv-button.title')}}</button>
    <table class="table table-responsive-lg table-dark dark-theme">
      <thead>
        <tr>
          <th scope="col">
            <div class="date-header-container">
              <span>{{snippetService.getSnippet('payouts-component.headers.date')}}</span>
              <fa-icon [icon]="faExchangeAlt" class="toggle-date-formatting-icon" (click)="toggleDateFormatting()"></fa-icon>
            </div>
          </th>
          <th scope="col">{{snippetService.getSnippet('payouts-component.headers.transaction')}}</th>
          <th scope="col">{{snippetService.getSnippet('payouts-component.headers.amount')}}</th>
          <th scope="col">{{snippetService.getSnippet('payouts-component.headers.fiat-amount')}}</th>
          <th scope="col">{{snippetService.getSnippet('payouts-component.headers.state')}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading && recentPayouts.length === 0">
          <td colspan="5" style="text-align: center">
            <app-loading-state></app-loading-state>
          </td>
        </tr>
        <tr *ngIf="!isLoading && recentPayouts.length === 0">
          <td colspan="5" style="text-align: center; padding-top: 1rem">
            <app-empty-state [text]="snippetService.getSnippet('payouts-component.no-payouts-sent-yet')" [icon]="faMoneyCheck"></app-empty-state>
          </td>
        </tr>
        <tr *ngFor="let payout of recentPayouts; trackBy: trackPayoutById">
          <td>{{payout.formattedPayoutDate}}</td>
          <td>
            <a *ngIf="poolConfig.blockExplorerCoinUrlTemplate" href="{{getBlockExplorerCoinLink(payout.coinId)}}" target="_blank" style="color: #b45bff">{{payout.coinId}}</a>
            <span *ngIf="!poolConfig.blockExplorerCoinUrlTemplate">{{payout.coinId}}</span>
          </td>
          <td>{{payout.amount}} {{poolConfig.ticker}}</td>
          <td>{{payout.fiatAmountFormatted}}</td>
          <td>{{getPaymentState(payout.state)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
