.dropdown-menu {
  background-color: #2f3136;
  color: #cfd0d1;
}
.dropdown-item {
  color: #cfd0d1;
}
.dropdown-divider {
  border-top: 1px solid #262629;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #262629;
}
::ng-deep .progress {
  background-color: #262629 !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}
::ng-deep .page-link {
  background-color: #262629;
  border-color: #18191c;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
::ng-deep .page-link:hover{
  color: rgba(255, 255, 255, 0.9);
  background-color: #262629;
  border-color: #18191c;
}
::ng-deep .page-item.disabled .page-link {
  background-color: #262629;
  border-color: #18191c;
}
