<ng-template #updateNameModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #474747">{{snippetService.getSnippet('update-name-modal.title')}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <input type="text"
               class="form-control"
               aria-describedby="nameFeedback"
               placeholder="{{snippetService.getSnippet('update-name-modal.account-name')}}"
               [class.is-invalid]="!isNewNameValid"
               [(ngModel)]="newName"
        >
        <div id="nameFeedback" class="invalid-feedback">
          {{snippetService.getSnippet('update-name-modal.error.name-too-long')}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">{{snippetService.getSnippet('general.cancel')}}</button>
    <button type="button" class="btn btn-success" (click)="updateName()" [disabled]="!canUpdateName">
      <span *ngIf="accountService.isUpdatingAccount">{{snippetService.getSnippet('update-name-modal.updating')}}</span>
      <span *ngIf="!accountService.isUpdatingAccount && (newNameOrUndefined || !accountHasName)">{{snippetService.getSnippet('update-name-modal.update-name')}}</span>
      <span *ngIf="!accountService.isUpdatingAccount && !newNameOrUndefined && accountHasName">{{snippetService.getSnippet('update-name-modal.remove-name')}}</span>
      <fa-icon [icon]="faCircleNotch" [spin]="true" *ngIf="accountService.isUpdatingAccount" style="margin-top: 5px; margin-left: 0.8em"></fa-icon>
    </button>
  </div>
</ng-template>
