.harvester-name-input {
  width: 16em;
}
.shares-chart {
  height: 15rem;
}
.proof-times-chart {
  height: 15rem;
}
.dark-background {
  background-color: #262629;
  color: #cfd0d1;
  border-color: #6c757d;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
