.status-pill {
  color: #18191c;
  font-weight: 600;
}
.harvester-name-input {
  width: 16em;
}
.shares-chart {
  height: 15rem;
}
.proof-times-chart {
  height: 15rem;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.highlight {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: var(--highlight-color);
}
.highlight:hover{
  color: var(--highlight-color-hover);
}

editable {
  cursor: default;
}

.harvester-name-or-peer-id-container {
  width: fit-content;
}
.is-editable {
  cursor: pointer;
}

.harvester-name-or-peer-id-view-mode + .visible-on-hover {
  display: none;
}

.is-editable .harvester-name-or-peer-id-view-mode:hover + .visible-on-hover {
  display: block;
}
