<h5 style="color: #474747">{{snippetService.getSnippet('update-name-modal.title')}}</h5>
<div class="row">
  <div class="col-12">
    <input type="text"
           class="form-control"
           aria-describedby="nameFeedback"
           placeholder="{{snippetService.getSnippet('update-name-modal.account-name')}}"
           [class.is-invalid]="!isNewNameValid"
           [(ngModel)]="newName"
    >
    <div id="nameFeedback" class="invalid-feedback">
      {{snippetService.getSnippet('update-name-modal.error.name-too-long')}}
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <button type="button" class="btn btn-success w-100" (click)="updateName()" [disabled]="!canUpdateName">
      <span *ngIf="accountService.isUpdatingAccount">{{snippetService.getSnippet('update-name-modal.updating')}}</span>
      <span *ngIf="!accountService.isUpdatingAccount && (newNameOrUndefined || !accountHasName)">{{snippetService.getSnippet('update-name-modal.update-name')}}</span>
      <span *ngIf="!accountService.isUpdatingAccount && !newNameOrUndefined && accountHasName">{{snippetService.getSnippet('update-name-modal.remove-name')}}</span>
      <fa-icon [icon]="faCircleNotch" [spin]="true" *ngIf="accountService.isUpdatingAccount" style="margin-top: 5px; margin-left: 0.8em"></fa-icon>
    </button>
  </div>
</div>
