.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
::ng-deep .page-link {
  background-color: var(--page-link-background-color);
  border-color: var(--page-link-border-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: var(--highlight-color);
}
::ng-deep .page-link:hover {
  color: var(--highlight-color-hover);
  border-color: var(--page-link-border-color);
  text-decoration: none;
}
::ng-deep .page-item:not(.active) .page-link:hover {
  background-color: var(--page-link-background-color);
}
::ng-deep .page-item.disabled .page-link {
  background-color: var(--page-link-background-color);
  border-color: var(--page-link-border-color);
}
