.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
::ng-deep .page-link {
  background-color: #262629;
  border-color: #18191c;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
::ng-deep .page-link:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: #18191c;
  text-decoration: none;
}
::ng-deep .page-item:not(.active) .page-link:hover {
  background-color: #262629;
}
::ng-deep .page-item.disabled .page-link {
  background-color: #262629;
  border-color: #18191c;
}
