<ng-template #leavePoolModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #474747">{{snippetService.getSnippet('leave-pool-modal.title')}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12" *ngIf="haveCollateral">
        <div class="form-check checkbox-lg" style="padding-bottom: 1rem">
          <input class="form-check-input" type="checkbox" id="leaveForEverCheckbox" [(ngModel)]="leaveForEver">
          <label class="form-check-label text-color" for="leaveForEverCheckbox">
            {{ snippetService.getSnippet('leave-pool-modal.leave-forever') }}
          </label>
        </div>
        <div class="alert alert-danger" role="alert" style="font-size: 1.1rem" *ngIf="leaveForEver">
          {{snippetService.getSnippet('leave-pool-modal.collateral-warning')}}
        </div>
      </div>
      <div class="col-12" >
        <div class="alert alert-info" role="alert" style="font-size: 1.1rem" *ngIf="!leaveForEver">
          {{snippetService.getSnippet('leave-pool-modal.rejoin-info')}}
        </div>
      </div>
      <div class="col-12" >
        <div class="alert alert-warning" role="alert" style="font-size: 1.1rem">
          <span [innerHTML]="snippetService.getSnippet('leave-pool-modal.read-leave-guide-info', leavePoolGuideUrl)"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">{{snippetService.getSnippet('general.cancel')}}</button>
    <button type="button" class="btn btn-success" (click)="leaveThePool()" [disabled]="accountService.isUpdatingAccount || accountService.isLeavingPool">
      <span *ngIf="accountService.isLeavingPool">{{snippetService.getSnippet('leave-pool-modal.leaving')}}</span>
      <span *ngIf="!accountService.isLeavingPool">{{snippetService.getSnippet('leave-pool-modal.leave')}}</span>
      <fa-icon [icon]="faCircleNotch" [spin]="true" *ngIf="accountService.isLeavingPool" style="margin-top: 5px; margin-left: 0.8em"></fa-icon>
    </button>
  </div>
</ng-template>
