@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

.table th { border-top: none; }

html, body {
  height: 100%;
  padding-top: 2.4em;
}
.dark-theme {
  background-color: #36393f;
  color: #cfd0d1;
}

.card {
  background-color: #2f3136;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
$color-light-green: rgb(75, 210, 143);
$color-lighter-green: rgb(135,211,181);
$color-green: rgb(70,207,118);
$color-dark-green: rgb(83,179,50);
$color-orange: rgb(255, 170, 0);
$color-blue: rgb(66, 134, 244);
$color-red: rgb(255, 77, 77);
$color-grey: rgb(140, 140, 140);
$color-dark-orange: rgb(204, 147, 33);
span[green] {
  background-color: $color-light-green;
}
span[orange] {
  background-color: $color-orange;
}
span[blue] {
  background-color: $color-blue;
}
span[red] {
  background-color: $color-red;
}
.color-green {
  color: $color-green;
}
.color-light-green {
  color: $color-light-green;
}
.color-lighter-green {
  color: $color-lighter-green;
}
.color-dark-green {
  color: $color-dark-green;
}
.color-orange {
  color: $color-orange;
}
.color-red {
  color: $color-red;
}
.color-blue {
  color: $color-blue;
}
.color-grey {
  color: $color-grey;
}
.color-dark-orange {
  color: $color-dark-orange;
}

@media (min-width: 1700px) {
  .container-fluid {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1800px) {
  .container-fluid {
    padding-left: 7%;
    padding-right: 7%;
  }
}
