<ng-template #updateMinimumPayoutModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #474747">{{snippetService.getSnippet('update-minimum-payout-modal.title')}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="minimumPayout"
            aria-describedby="minimumPayoutFeedback"
            [placeholder]="poolConfigMinimumPayout"
            [min]="poolConfigMinimumPayout"
            [class.is-invalid]="!isValidMinimumPayout"
            [(ngModel)]="newMinimumPayout"
          >
          <span class="input-group-text">{{ticker}}</span>
          <div id="minimumPayoutFeedback" class="invalid-feedback">
            Minimum payout must be greater or equal to the pools minimum payout amount of {{poolConfigMinimumPayout}} {{ticker}}.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">{{snippetService.getSnippet('general.cancel')}}</button>
    <button type="button" class="btn btn-success" (click)="updateMinimumPayout()" [disabled]="!canUpdateMinimumPayout">
      <span *ngIf="accountService.isUpdatingAccount">{{snippetService.getSnippet('update-minimum-payout-modal.updating')}}</span>
      <span *ngIf="!accountService.isUpdatingAccount && (newMinimumPayout || !accountHasMinimumPayout)">{{snippetService.getSnippet('update-minimum-payout-modal.update-minimum-amount')}}</span>
      <span *ngIf="!accountService.isUpdatingAccount && !newMinimumPayout && accountHasMinimumPayout">{{snippetService.getSnippet('update-minimum-payout-modal.remove-minimum-amount')}}</span>
      <fa-icon [icon]="faCircleNotch" [spin]="true" *ngIf="accountService.isUpdatingAccount" style="margin-top: 5px; margin-left: 0.8em"></fa-icon>
    </button>
  </div>
</ng-template>
